<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="CurtDataConnectionString" connectionString="Data Source=10.10.90.83;Initial Catalog=CurtData;User ID=curtDuser1;Password=curtpass"
            providerName="System.Data.SqlClient" />
        <add name="CurtDevConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CurtDev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
